<ion-view view-title="Home">
  <ion-nav-buttons side="left">
   	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" overflow-scroll="true">
		<!--div class="row">
      <button class="col button button-light" style="border: 1px solid #eaeaea;" ui-sref="main.project_detail">
        <center>
          <a class="icon ion-checkmark-round balanced"></a><br/>
          Current Project
        </center>
      </button>
      <button class="col button button-light" style="border: 1px solid #eaeaea;" ui-sref="main.projects">
        <center>
          <a class="ico ion-clipboard balanced"></a><br/>
          Available Project
        </center>
      </button>
    </div-->
    <div class="card">
      <a style="text-decoration: none;" ui-sref="main.project_detail">
        <div class="item item-text-wrap balanced" style="border-top:3px solid #33CD5F;">
          Current Project
          <span class="item-note">
            <i class="icon ion-checkmark-round"></i>
          </span><br/>
          <font class="dark">
            <i class="icon ion-clock"></i> 19.00.01 WITA<br/>
            <i class="icon ion-location"></i> Kalimantan 
          </font>
        </div>
      </a>
    </div>

    <div class="card">
      <a style="text-decoration: none;" ui-sref="main.projects">
        <div class="item item-text-wrap balanced" style="border-top:3px solid #33CD5F;">
          Available Project
          <span class="item-note">
            <i class="icon ion-checkmark-round"></i>
          </span><br/>
          <font class="dark">
            <i class="icon ion-clipboard"></i> 2 Project
          </font>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view> 
