<ion-view view-title="Login" name="login-view">
  <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
    <!-- <div class="row row-center"> -->
      <!-- <div class="col col-center"> -->
      <div class="padding" style="background-color: white; margin: 50% 40px 0px 40px; border-radius: 2px">
        <div class="text-center">
          <img src="img/MFR_logo.png" style="width: auto;max-width: 250px;"/>
        </div>
        <div class="list list-inset">
          <label class="item-input" style="border-bottom: 1px solid green;">
            <i class="icon ion-person placeholder-icon"></i>
            <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item-input" style="border-bottom: 1px solid green;">
            <i class="icon ion-locked placeholder-icon"></i>
            <input type="password" placeholder="Password" ng-model="data.password">
          </label>
        </div>
        <button class="button button-block button-balanced" ng-click="login()">Login</button>
      </div>
      <!-- </div> -->
    <!-- </div> -->
  </ion-content>
</ion-view>
