<!-- This is menu page -->

<ion-side-menus enable-menu-with-back-views="false">

   <!-- Main content -->
   <ion-pane ion-side-menu-content drag-content="false">
     <ion-nav-bar class="bar-balanced">
	     <ion-nav-back-button></ion-nav-back-button>

       <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
       </ion-nav-buttons>
     </ion-nav-bar>
     <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
   </ion-pane>

   <!-- Left Side Menu -->
   <ion-side-menu side="left">
     <ion-content>
      <ion-item style="background: url(img/adam.jpg) center; background-size: cover;height:50%; height: 200px;">
        <h2 style="position: absolute;bottom: 0; color: white;">Ihsan Andrinal</h2>
      </ion-item>
    	<ion-list>
    	   <ion-item class="item-icon-left" menu-close href="#/main/home">
          <i class="icon ion-home balanced"></i>Home
    	   </ion-item>
    	   <ion-item class="item-icon-left" menu-close href="#/main/projects">
    	     <i class="icon ion-map balanced"></i>Projects
    	   </ion-item>
    	   <ion-item class="item-icon-left" menu-close href="#/main/settings">
    	     <i class="icon ion-levels balanced"></i>Settings
    	   </ion-item>
    	   <ion-item menu-close href="#/main/logout">
    	     Logout
    	   </ion-item>
    	<ion-list>
     </ion-content>     
   </ion-side-menu>

   <!-- Right Side Menu -->
   <!--
   <ion-side-menu side="right">
   </ion-side-menu>
   -->

</ion-side-menus>
