<ion-view view-title="Nama project">
	<ion-content>
	<!--
		ToDO : 
			-Find ways to maximize the mapping canvas
	-->
	<div>
		<openlayers ol-center="center" custom-layers="true" height="600px"
					class="resize-map">
			<ol-layer ol-layer-properties="osmcloud"></ol-layer>
			<!--<ol-marker name="London" lat="1.10344" lon="104.049468"></ol-marker>-->
			<ol-marker ng-repeat="marker in markers" 
					ol-marker-properties="marker">
			</ol-marker>
		</openlayers>
		<modal-dialog show='modalShown' width='90%' height='80%'>
		  <button class="button icon ion-checkmark-round button-block" ng-click="save()"><br/>Save</button>
		  <button class="button icon ion-image button-block" ng-click="picture()"><br/>Take Picture</button>
		  <button class="button icon ion-document-text button-block" ng-click="report()"><br/>Report</button>
		  <button class="button icon ion-close-round button-block" ng-click="closeModal()"><br/>Discard</button>
		</modal-dialog>

	</div>
	<div class="bar bar-footer button-map">
		<div class="button-bar">
			<a class="button" ng-click="addMarker()">Add Marker</a>
			<a class="button">Project Info</a>
			<a class="button">Reporting</a>
		</div>
	</div>
	</ion-content>
</ion-view>

