<ion-view view-title="Nama project" style="width:70%; height: 60%; margin:15% 15% 0% 15%; border-radius: 5px;">
	<ion-header-bar class="bar-balanced">
        <h1 class="title">Tambah Project</h1>
        <div class="buttons">
            <button class="button button-clear icon ion-close-round" ng-click="closeInsert()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
            <form>
                <label class="item item-input">
                    <span class="input-label col">Nama Project</span>
                    <input class="col" style="max-width: 50%;" type="text" ng-model="dataform.nama">
                </label>
                <label class="item item-input">
                    <span class="input-label col">Uraian</span>
                    <input class="col" style="max-width: 50%;" type="text" ng-model="dataform.perusahaan" class="form-control">
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Pilih Map
                    </div>
                    <select ng-model="dataform.note">
                        <option value="1">Banjarmasin</option>
                        <option value="2">Palangkarya</option>
                        <option value="3">Lampung</option>
                    </select>
                </label>
				<center><button class="button button-block button-balanced" style="max-width: 90%;" ng-click="addProj()">Tambah</button></center>
            </form>
    </ion-content>
</ion-view>

