<ion-view view-title="Projects">
	<!--
   <ion-nav-buttons side="left">
   	<button menu-toggle="left" class="button button-icon icon ion-navicon">
	</button>
	<button class="button icon-right">Add</button>
   </ion-nav-buttons>
   	-->
   <ion-content>
        <div class="row responsive-sm">
        	<div class="col">
				<div class="card">
				  	<div class="item item-divider">
				    	Project nomor 1
				  	</div>
				  	<div class="item item-text-wrap">
				    	<b>Nama project :</b> Informasi project<br/>
				    	<b>Lokasi :</b> Hutan di Kalimantan<br/>
				    	<b>Perusahaan :</b> PT. Adaro<br/>
				  	</div>
				    <a class="item item-icon-right calm" href="#/main/project_detail">
				    	<i class="icon ion-chevron-right"></i>
				    	Go to project
				  	</a>
				</div>
			 	<div class="card">
				  	<div class="item item-divider">
				    	Project nomor 2
				  	</div>
				  	<div class="item item-text-wrap">
				    	<b>Nama project :</b> Informasi project<br/>
				    	<b>Lokasi :</b> Ladang di Kalimantan<br/>
				    	<b>Perusahaan :</b> PT. Arutmin<br/>
				  	</div>
				    <a class="item item-icon-right calm" href="#/main/project_detail">
				    	<i class="icon ion-chevron-right"></i>
				    	Go to project
				  	</a>
				</div>
        	</div>
        	<div class="col">
				<button class="button icon ion-plus-round button-block button-positive" ng-click="addProject()">
			   		Add Project
			   	</button> 
        	</div>
        </div>

   </ion-content>

</ion-view> 
